@font-face {
  font-family: 'icomoon';
  src:  url('../icons/icomoon.eot?1ns9pv');
  src:  url('../icons/icomoon.eot?1ns9pv#iefix') format('embedded-opentype'),
  url('../icons/icomoon.ttf?1ns9pv') format('truetype'),
  url('../icons/icomoon.woff?1ns9pv') format('woff'),
  url('../icons/icomoon.svg?1ns9pv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* replace form here to the end of file for when importing new icon packs */

.icon-transformers:before {
  content: "\e900";
}
.icon-batman:before {
  content: "\e901";
}
.icon-skeletor:before {
  content: "\e902";
}
.icon-radioactive:before {
  content: "\e903";
}
.icon-rocket:before {
  content: "\e904";
}
